RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1

RewriteEngine On
RewriteRule ^product/([0-9]+)$ /project/index.php?operation=detail&id_sanpham=$1 [L]
